extends layouts/layout.pug
//- include mixins/diarytitle
//- block script
block style 
    style
        include ../styles/layout.css
block content 
    //- h5 diary list
    //- each item in diaries
    //-     +diarytitle(item)
    //- else
    //-     li sorry not found.
    include layouts/calendar.pug
