extends layouts/layout.pug
block style 
    style
        include ../styles/layout.css
block content
    if errorMessage
        div.errorMessage
            span=errorMessage
    form(action="", method="post")
        h1 프로필 수정
        table 
            tr        
                td 닉네임
                td
                    input(placeholder=" 예) 동글이", name="username", type="text")
            tr        
                td 나의 팀
                td
                    input(placeholder=" 예) 키움히어로즈", name="myteam", type="text")
            tr
                td 현재 비밀번호
                td
                    input(placeholder=" 현재 비밀번호", name="oldpw", type="password")
            tr
                span.pwNotice 비밀번호 변경 시 재로그인이 필요합니다.
            tr
                td 새 비밀번호
                td
                    input(placeholder=" 새 비밀번호", name="newpw", type="password")
            tr
                td 새 비밀번호 확인
                td
                    input(placeholder=" 새 비밀번호 확인", name="newpw2", type="password")
            tr        
                td 지역
                td
                    input(placeholder=" (선택)", name="location", type="text")
        input(type="submit", value="Edit")
