extends layouts/layout.pug
block style 
block content
    h1 Welcome Baseball diary
    a(href="/diary") go to diary
    h5=name
    //- h1=result
    a(href="/join") Join 
    a(href="/login") Login 
    