extends layouts/layout.pug 
block style 
    style
        include ../styles/layout.css
block content 
    if errorMessage
        div.errorMessage
            span=errorMessage
    form(action="", method="post") 
        h1(id="formHeader") 로그인
        table
            tr
                td
                    input(placeholder=" 이메일을 입력하세요.", name="email", type="email", required)
            tr
                td
                    input(placeholder=" 비밀번호를 입력하세요.", name="password", type="password", required)
        input(type="submit", value="Login")
    div
        span 계정이 없으신가요? 
        a(href="/join") 회원가입 &rarr; 