doctype html
html(lang="ko")
    head
        block style
        block script
            style
                include ../../styles/styles.css
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://kit.fontawesome.com/2afc28705b.js" crossorigin="anonymous")
        title #{pageTitle} | #{siteName}
    body
        nav
            if loggedIn
                a(href="/").material-symbols-outlined home 
                a(href="/user").material-symbols-outlined manage_accounts
                a(href="/logout").material-symbols-outlined logout
            else
                a(href="/").material-symbols-outlined home 
                a(href="/join").material-symbols-outlined person_add
                a(href="/login").material-symbols-outlined login 
        main
            block content
    