doctype html
html(lang="ko")
    head
        block style
        block script
            style
                include ../../styles/styles.css
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://kit.fontawesome.com/2afc28705b.js" crossorigin="anonymous")
        title Welcome!
    body
        //- nav
            a(href="/diary") list
            br
            a(href=`/diary/64f92c070fc3b4579b5d8663`) diary
        main
            block content
    