doctype html
html(lang="ko")
    head
        block style
        block script
            style
                include ../../styles/styles.css
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://kit.fontawesome.com/2afc28705b.js" crossorigin="anonymous")
        title #{pageTitle} | #{siteName}
    body
        nav
            if loggedIn
                a(href="/") Home 
                a(href="/user") Profile 
                a(href="/logout") Logout 
            else
                a(href="/join") Join 
                a(href="/login") Login 
        main
            block content
    